
.til_post_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-size: 1.4rem;
}

.flex_til_titles {
    display: flex;
    justify-content: space-between;
    color: white;
}

.copy_message {
    font-size: 1rem;
    color: white;
}

@media only screen and (max-width: 768px) {

}