.user_info {
    background-color: #31AFB4;
    height: 100vh;
    z-index: 20;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.user_info h3 {
    margin: 50px;
    padding: 10px;
    font-size: 1.7rem;
}

.user_info h2 {
    font-size: 1.2rem;
}

.bio {
    margin: 50px;
    font-size: 1.2rem;
    font-style: italic;
}