.user_info {
    background-color: #31AFB4;
    height: 100vh;
    z-index: 20;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.user_info h3 {
    margin: 20px 0;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}

.user_info h2 {
    font-size: 1.2rem;
    margin: 10px;
}

.bio {
    margin: 30px 15px;
    font-size: 1rem;

    font-style: italic;
}

.bio p {
    font-size: 0.7rem;
    margin-top: 7px;
}