.loginLogo {
    height: 135px;
    width: 365px;
}

.password_input {
    border: 5px solid #ccc;
    color: #616161;
    outline: 0;
    padding: 7px;
    font-size: 1.0em;
    min-width: 250px;
    border-radius: 5px;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    min-height: 300px;
    width: 50%;
    min-width: 800px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 20px 20px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #31AFB4;
}

.error_msg {
    color: red;
    display: none;
}

.link_button {
    position: relative;
    left: 350px;
}


/*Form Styling*/

form{
    width: 100%;
    min-width: 600px;
    margin-top: 20px;
}

.form_wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form_row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form_row label {
    padding: .5em .5em .5em 0;
    flex: 1;
}

.form_row input {
    flex: 3;
}

.form_row button {
    background: gray;
    color: white;
    border: 0;
    width: 70%;
}
