@font-face {
  font-family: Asap;
  src: url('/src/fonts/Asap-Regular.ttf')format("truetype");
}

* {
  font-family: Asap, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
